$contentmarginklein: 10px;
$contentmargingroot: 75px;

$contentwidth: 1100px;
$contentafstand: 10px;
//bootstrap snap
$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px; //gebruik contentwidth ipv lg

//header//

.inloggenheader {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;

  margin-right: 10px;
}

img.profielklein {
  width: 25px;
  height: 25px;
}

header {
  height: 100px;

  background-image: url("../img/headerfoto.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/img/logo_dummyklein.png);
  background-repeat: no-repeat;

  background-size: auto 100%;
}

//nav//

.navbar {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: darkblue;
  font-size: medium;

  margin-right: 15px;
  font-size: 17px;
}

//grootste div van de navigatiebalk
nav.navbar {
  padding-left: 10px;
  overflow: hidden; //is er zodat de navbar niet om een of andere reden buiten de body gaat bij 1101px
}

//content
//groter dan large

.content {
  background-color: whitesmoke;
  padding: $contentafstand;
}

//homepagina//
.hometext {
  margin-top: 20px;
  font-weight: 400;
}

div.homecards {
  margin-left: 10px;
  margin-right: 10px;

  max-width: 1000px;
  height: auto;
  margin: 0 auto;

  margin-top: 75px;

  justify-content: space-between;
}

img.card-img-top {
  max-height: 250px;
  width: auto;
  object-fit: cover;
}

div.card {
  min-width: 30%;
}

//info



@media only screen and (max-width: $md) {
  //header
  .logo {
    height: 75%;
    width: 200px;
    background-image: url(/img/logo_dummyklein.png);
    margin-left: 10px;
  }
  .inloggenregistreren {
    display: none;
  }
}
@media only screen and (min-width: $md+1px) {
  //header
  .logo {
    height: 75%;
    width: 450px;
    background-image: url(/img/logo_dummy.png);
  }
  .profielklein {
    display: none;
  }
}

@media only screen and (min-width: $sm) and (max-width: $contentwidth+$contentmarginklein) {
  //content
  .content {
    margin-left: $contentmarginklein;
    margin-right: $contentmarginklein;
    
  }
}

@media only screen and (min-width: $contentwidth+$contentmarginklein+1px) {
  .content {
    width: $contentwidth;
    margin: 0 auto;
  }
  ul.navbar-nav {
    margin: 0 auto;
    width: $contentwidth;

  }
}
